body {

    color: #CFDBDB;
  }

.jumbotron {
    background-image: url("../images/CrimeScene.jpg");
    background-size: 100% 100%;
    text-align: center;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 350px;
  background-color: #ffffff;
}